<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./loginPage.css">
    <title>Login</title>
</head>
<body>
    <div class="login-space">
        <form action="/login" method="post" class="login-form">
            <h1>Login</h1>
            <label for="username">
                Username <br>
                <input type="text" class="username" id="username" name="username">
            </label>
            <label for="password">
                Password <br>
                <input type="text" name="password" id="password" name="password">
            </label>
            <button>Login</button>
            <% if(error){ %>
                <p style="color:red"><%= error %></p>
            <% } %>
            <a href="/forgetPassword">Forgot Your Password ?</a>
        </form>
    </div>
    <div class="image-space"></div>
</body>
</html>