<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./openingPage.css">
    <title>BlogVilla</title>
</head>
<body>
    <div class="main-div">
        <div class="left-end">
            <p class="header">
                Create, Collaborate, and <br>
                Scale Your Blogs and Docs.
            </p>
            <div class="buttons">
                <button class="signup-button"><a href="/signup" class="signup-href">Sign Up</a></button>
                <button class="login-button"><a href="/login" class="login-href">Login</a></button>
            </div>
        </div>
        <div class="right-end"></div>
    </div>
</body>
</html>